@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
section stylesheets
{
@Html.WebPackCssReference("contact")
}
@section scripts {
    @Html.WebPackJsReference("contact")
}